// Icons are the base interactive graphical element in the UI
// Tabs and Actions are icons

@import 'vars';

.icon {
	height: $main_square;
	width: $main_square;
	box-sizing: border-box;
	border: 1px solid #b2b2b2;
	padding: 1px;
	border-radius: 3px;
	background-size: ($main_square - .6em ) ($main_square - .6em);
	background-repeat: no-repeat;
	background-position: center;
	font-family: verdana;
	font-size: 12px;
	user-select: none;
	cursor: arrow;
  text-align: center;

  // Actions are specialized icons that represent executable commands
  &.action {
    margin-left: 2px;
    margin-right: 0px;
    margin-top: 0px;

    i {
      vertical-align: -webkit-baseline-middle;
    }

    // Specific actions
    &.add {
      background-image: url(../images/new.png);
    }

    &.close {
      background-image: url(../images/close.png);
    }

    &.new {
      background-image: url(../images/new.png);
    }

    &.trash {
      background-image: url(../images/trash.png);
    }

    &.pin {
      background-image: url(../images/pin.png);
    }

    &.filter {
      i:before {
        content: '\f06e';
      }

      &.enabled {
        i:before {
          content: '\f070';
        }
      }
    }

    // Layout icon specialization per layout
    &.layout {
      .block & {
        background-image: url(../images/block.png);
      }

      .horizontal & {
        background-image: url(../images/horizontal.png);
      }

      .vertical & {
        background-image: url(../images/vertical.png);
      }
    }
  }

  &:hover {
    border-width: 2px;
    padding: 0px;
  }

}

.grip {
  position: absolute;
  bottom: 1px;
  left: 1px;

  .fa-th {
    clip-path: polygon(100% 0%, 70% 0%, 70% 30%, 30% 30%, 30% 60%, 0% 60%, 0% 100%, 100% 100%);
    text-shadow: 1px 0px 1px rgba(255,255,255,0.8);
    background-clip: text;
    background-color: #ccc;
    transform: rotate(90deg);
    color: transparent;
    cursor: nesw-resize;
  }
}
