/*
 * Highlevel layout will be classed on the main component div
 * block, horizontal, vertical
 *
 * Sections are full-width vertically stacked containers
 * windows and the searchbox
 *
 * Sections have a content div and a commands div
 *
 * Icons are the base graphical element for
 * action buttons and tabs
 *
 * Tabs marked with the tab class
 *
 * Action buttons marked with action class
 */

@import 'vars';

html {
	margin: 0px;
	user-select: none;
}

body {
	width: $popup_width;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

.windows {
	padding: 8px;
}

section {
	margin-top: 16px;
	vertical-align: top;

  &:first-child {
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
  }

  .tabs {
    margin-left: .2em;
    margin-right: .2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, $main_square);
    grid-gap: 2px;
    justify-content: space-between;
  }

  // Block layout specialization
  .block & {
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
    border-left: 1px solid #b2b2b2;
    padding-left: 10px;
    margin-left: 10px;
    width: auto;
  }

  header {
    margin-bottom: 6px;

    .commands {
      .action {
        height: $main_square - .4em;
        width: $main_square - .4em;
      }
    }

    .content {
      i {
        font-size: $main_square - .6em;
        vertical-align: middle;
      }
    }
  }
}

footer {
	border-top: 1px solid #b2b2b2;
}

header, footer {
  display: flex;
  align-items: center;
  vertical-align: middle;

  .content {
    width: 100%;
  }

  .commands {
    display: flex;
    align-items: flex-end;
    margin-left: 8px;
  }
}
