// Search box contains the search textbox and the global
// action icons

@import 'vars';

footer {
	background-color: white;
	padding: 6px;
  padding-left: 10px;
	bottom: 0px;
	left: 0px;

  input[type="text"] {
    border: none;
    outline: none;
    height: $main_square;
    box-sizing: border-box;
    margin-right: 8px;
    width: 100%;
    height: 1.4em;
    font-size: 1.4em;
  }
}
